/* html {
    scroll-behavior: smooth;
} */

body {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    font-size: 18px;
    overflow-x: hidden;
}

.offscreen {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip-path: inset(1px 1px 1px 1px);
    clip-path: inset(1px, 1px, 1px, 1px);
}

.skip-to-content.offscreen:focus {
    position: relative;
    display: inline-block;
    height: auto;
    width: auto;
    padding: 0.625em 1.25em;
    background-color: #002e5e;
    color: #fff;
    overflow: visible;
    clip-path: none;
    text-decoration: none;
}

a.org-link {
    color: #FFF;
    text-decoration: underline;
    font-weight: 900;
}

a.org-link:hover {
    color: #FFC01B
}

/* START - NAVIGATION SECTION */

.main-nav-logo {
    width: 100px;
}

.navbar .nav-item {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

.navbar a {
    color: #01427B;
}

.navbar ul a {
    position: relative;
    margin: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar ul a:last-child {
    margin-right: 0;
}

.navbar a:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 0;
    background: transparent;
}

.navbar .link:after {
    transition: width .5s ease, background-color .5s ease, left .5s ease;
}

.navbar .link:hover:after {
    width: 100%;
    left: 0;
    background: #F68A2E;
}

.navbar button:focus {
    outline: 0;
}

/* Icon 1 */

.animated-icon1,
.animated-icon2,
.animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon1 span {
    background: #01427B;
}

.animated-icon2 span {
    background: #e3f2fd;
}

.animated-icon3 span {
    background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
}

.animated-icon1 span:nth-child(3) {
    top: 20px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
    top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
    top: 10px;
}

.animated-icon2 span:nth-child(4) {
    top: 20px;
}

.animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}

.animated-icon3.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
}

/* END - NAVIGATION SECTION */

/* START - LANDING SECTION */

.landing-section .container {
    background-image: url(../asset/landing_background.svg);
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 800px;
    height: 75vh;
}

.landing-section .container .row {
    padding-top: 30vh;
}

.landing-section {
    height: 100vh;
}

.landing-section h1 {
    color: #01427B;
    font-size: 4.2rem;
    font-weight: 100;
}

.landing-section h1 span {
    font-family: 'rigid-square', sans-serif;
    color: #01427B;
    font-size: 4.2rem;
}

/* END - LANDING SECTION */

/* START - ABOUT */

.about {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../asset/Pattern.svg);
    background-size: 40px;
    background-repeat: repeat;
}

.about h2 {
    font-family: 'prohibition', sans-serif;
    font-size: 3.5rem;
    color: #01427B;
    padding-top: 200px;
}

.about p {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    color: #717171;
}

.about-lower-section h3 {
    font-family: 'rigid-square', sans-serif;
    font-size: 3rem;
    color: #0288C2;
    max-width: 760px;
    text-align: center;
    text-transform: normal;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;

}

.a-fancy-icon {
    position: relative;
    display: block;
    height: 460px;
    background-image: url(../asset/A2.svg);
    background-repeat: no-repeat;
    background-position: 37.5% 0%;
    background-size: 425px;
    margin-top: -170px;
    margin-bottom: -300px;
    z-index: 2;
}


/* END - ABOUT */


/* START - ABOUT LOWER SECTION */

.about-lower-section {
    background-image: url(../asset/A1.svg), url(../asset/A16-Mosaic.svg), url(../asset/A3.svg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 20% 65%, 70% 20%, 60.5% 80%;
    background-size: 80px, 50px, 50px;
    padding-top: 50px;
    margin-bottom: 50px;
}

/* END - ABOUT LOWER SECTION */

/* START - WHO WE ARE */

.who-we-are {
    background-image: url(../asset/A4.svg), url(../asset/A15.svg), url(../asset/A5.svg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 70% 5%, 30% 85%, 70% 90%;
    background-size: 80px, 80px, 150px;
    padding-top: 50px;
    margin-bottom: 50px;
}

.who-we-are h2 {
    font-family: 'prohibition', sans-serif;
    font-size: 3.5rem;
    color: #01427B;
}

.who-we-are p {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    color: #717171;
}

.who-we-are-text-area {
    padding-bottom: 50px;
}

.who-we-are .card {
    border: unset;
    border-radius: 0;
    transition: transform .3s;
}

.who-we-are .card-img-top {
    border: 2px solid #FED15E;
    border-radius: 0;
}

.who-we-are .card-body {
    padding-left: 0;
    padding-right: 0;
}

.who-we-are .card h5 {
    font-family: 'prohibition', sans-serif;
    font-weight: 500;
    font-size: 1.875rem;
    color: #0288C2;
}

.who-we-are .card p {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    color: #01427B;
}

.wwa-fancy-icon {
    position: relative;
    display: block;
    height: 350px;
    background-image: url(../asset/A6.svg);
    background-repeat: no-repeat;
    background-position: 8% 0%;
    background-size: 700px;
    margin-top: 15px;
    margin-bottom: -150px;
    z-index: 2;
}

/* END - WHO WE ARE */

/* START - INNOVATION */

.innovation {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: url(../asset/Pattern.svg);
    background-size: 40px;
    background-repeat: repeat;
}

.innovation h2 {
    font-family: 'prohibition', sans-serif;
    font-size: 3.5rem;
    color: #01427B;
}

.innovation .card {
    border: unset;
    border-radius: 0;
    background-color: #F2F7F9;
    transition: transform .3s;
}

.innovation .card:nth-child(2) {
    background-color: #F68A2E;
}

.innovation .card img {
    width: 135px;
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.innovation .card h5 {
    font-family: 'prohibition', sans-serif;
    font-weight: 500;
    font-size: 1.875rem;
    text-align: center;
    color: #0288C2;
}

.innovation .card p {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    color: #01427B;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
}

.innovation .card:nth-child(2) h5,
.innovation .card:nth-child(2) p {
    color: #FFF;
}


/* END - INNOVATION */

/* START - TECHNOLOGY */


.technology .container .row:first-child {
    background-image: url(../asset/technology_background.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1420px;
    height: 675px;
    padding: 200px 150px;
}

.technology .container .row:last-child {
    margin-top: 100px;
    padding-bottom: 100px;

}

.technology h2 {
    font-family: 'prohibition', sans-serif;
    font-size: 3.5rem;
    color: #01427B;
}

.technology p {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    color: #717171;
}

.tech-logos img {
    display: inline-block;
    padding: 15px;
    width: 150px;
    height: 150px;
}

.tech-logos {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.tech-logos img {
    vertical-align: top;
    display: inline-block;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

/* END - TECHNOLOGY */

/* START - WORKING HERE */

.working-here {
    padding-bottom: 200px;
    background-image: url(../asset/A7.svg), url(../asset/A20.svg), url(../asset/A19.svg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 55% 10%, 17.5% 40%, 15% 100%;
    background-size: 120px, 120px, 70px;
    padding-top: 50px;
    margin-bottom: 50px;
}

.working-here-text-area {
    padding-top: 150px;
}

.working-here h2 {
    font-family: 'prohibition', sans-serif;
    font-size: 3.5rem;
    color: #01427B;
}

.working-here p {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    color: #717171;
}

.wh-top-fancy-icon {
    position: relative;
    display: block;
    height: 375px;
    background-image: url(../asset/A8.svg);
    background-repeat: no-repeat;
    background-position: 36.5% 0%;
    background-size: 400px;
    margin-top: 150px;
    margin-bottom: -552.5px;
    z-index: 1;
}

.wh-btn-pos {
    z-index: 2;
    margin-top: 80px !important;
}

.wh-fancy-icon {
    position: relative;
    display: block;
    height: 275px;
    background-image: url(../asset/A9.svg);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 400px;
    margin-top: -235px;
    z-index: 1;
}

/* END - WORKING HERE */

/* START - OUR WORK */

.our-work {
    background-image: url(../asset/A11.svg), url(../asset/A12.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 25% 100%, 70% 100%;
    background-size: 80px, 90px;
    padding-bottom: 250px;
    padding-top: 50px;
    margin-bottom: 50px;
}

.our-work h2 {
    font-family: 'prohibition', sans-serif;
    font-size: 3.5rem;
    color: #01427B;
}

.our-work p {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    color: #717171;
}

.our-work img {
    margin-top: 15px;
    margin-bottom: 15px;
}

.ow-fancy-icon {
    position: relative;
    display: block;
    height: 515px;
    background-image: url(../asset/A10.svg);
    background-repeat: no-repeat;
    background-position: 47.5% 0%;
    background-size: 200px;
    margin-top: -75px;
    margin-bottom: -400px;
    z-index: 2;
}

/* END - OUR WORK */

/* START - QUOTE SLIDER */

.quote-slider {
    background-image: url(../asset/A13.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 375px;
    padding-bottom: 100px;
    padding-top: 150px;
}

.carousel-inner {
    max-width: 915px;
    margin: auto;
}

.carousel-item {
    margin-bottom: 40px;
    margin-top: 40px;
}

.carousel-indicators li {
    background-color: #01427B;
    height: 5px;
    opacity: .4;
}

.quote-content {
    font-family: 'rigid-square', sans-serif;
    color: #0288C2;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
}

.quote-signature {
    font-family: 'rigid-square', sans-serif;
    color: #F68A2E;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
}

/* END - QUOTE SLIDER */

/* START - GET IN TOUCH SECTION */

.git-section {
    background-color: #0288C2;
    padding: 50px 0;
    color: #FFF;
}

.git-section h2 {
    font-family: prohibition, sans-serif;
    font-size: 2rem;
}

.git-section p {
    font-family: 'Roboto Mono', monospace;
    max-width: 800px;
}

.git-pos {
    padding-top: 60px;
}

.git-btn {
    font-family: prohibition, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    display: block;
    width: 275px;
    margin: 0 auto;
    padding: 15px 40px;
    top: 0;
    left: 0;
    border-radius: 18px;
    transition: all .15s linear 0s;
    position: relative;
    background-color: #FFC01B;
    text-transform: uppercase;
    color: #01427B;
    box-shadow: 6px 6px 0 #E0EFF5;
    text-decoration: none;
}

.git-btn:hover {
    top: 3px;
    left: 3px;
    box-shadow: 3px 3px 0 #E0EFF5;
}

.git-btn::after {
    top: 1px;
    left: -2px;
    width: 4px;
    height: 4px;
}

.git-btn::before {
    bottom: -2px;
    right: 1px;
    width: 4px;
    height: 4px;

}

.git-btn::after {
    transition: all .15s linear 0s;
    content: '';
    position: absolute;
    top: 2px;
    left: 4px;
    width: 8px;
    height: 8px;
    background-color: transparent;
    transform: rotate(45deg);
    z-index: -1;

}

.git-btn::before {
    transition: all .15s linear 0s;
    content: '';
    position: absolute;
    bottom: -4px;
    right: 2px;
    width: 8px;
    height: 8px;
    background-color: transparent;
    transform: rotate(45deg);
    z-index: -1;
}


a.git-btn {
    position: relative;
    text-decoration: none;
}

a:active.git-btn {
    top: 6px;
    left: 6px;
    box-shadow: none;
}

a:active.git-btn:before {
    bottom: 1px;
    right: 1px;
}

a:active.git-btn:after {
    top: 1px;
    left: 1px;
}

/* END - GET IN TOUCH SECTION */

/* START - FOOTER SECTION */

.footer-section {
    background-color: #01427B;
    padding: 50px 0 30px 0;
    color: #FFF;
    font-family: 'Roboto Mono', monospace;
}

.footer-section a {
    color: #FFF;
}

.footer-section a:hover {
    color: #FED15E;
}

.footer-section ul {
    list-style-type: none;
    padding-left: 0
}

.footer-section ul li {
    padding-bottom: 15px;
}

.footer-section .omers-logo-white {
    max-width: 200px;
}

.hide-in-bigger-screen {
    display: none;
}

.footer-section .social-media--facebook-icon,
.footer-section .social-media-linkedin-icon {
    max-width: 35px;
    position: absolute;
    bottom: 50px;
}

.footer-section .social-media-linkedin-icon {
    left: 60px
}

.footer-section .contact-us-icon {
    max-width: 20px;
}

.footer-section iframe {
    width: 100%;
    height: 275px;
    box-shadow: 8px 8px 0 #0288C2;
}

/* END - FOOTER SECTION */

.bounce {
    position: absolute;
    z-index: 2;
    bottom: 30px;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-left: -30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
}

.bounce .nav-link {
    padding: 0;
}

.fa-chevron-down {
    color: #01427B;
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
    }
}

@-moz-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
    }
}

@-o-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -o-transform: translateY(0);
    }

    40% {
        -o-transform: translateY(-30px);
    }

    60% {
        -o-transform: translateY(-15px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

#myBtn {
    opacity: 0;
    transition: opacity 1s;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #FFC01B;
    color: #01427B;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    transition: .5;
}

#myBtn:hover {
    background-color: #F68A2E;
}

#myBtn img {
    width: 40px;
}


/* START BUBBLE */

.bubble_top_yellow {
    position: relative;
    display: block;
    height: 100px;
    width: 400px;
    background-image: url(../asset/Top-Bubble-Yellow.svg);
    background-repeat: no-repeat;
    background-position: 100% 0%;
}

.bubble_top_blue {
    position: relative;
    display: block;
    height: 200px;
    width: 650px;
    background-image: url(../asset/Top-Bubble-Blue.svg);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    margin-top: -120px;
}

.bubble_buttom_yellow {
    position: relative;
    display: block;
    height: 100px;
    background-image: url(../asset/Bottom-Buble-Yellow.svg);
    background-repeat: no-repeat;
    background-position: 30% 0%;
    margin-top: -20px;
}

.bubble_buttom_blue {
    position: relative;
    display: block;
    height: 200px;
    background-image: url(../asset/Bottom-Buble-Blue.svg);
    background-repeat: no-repeat;
    background-position: 60% 0%;
    margin-top: -320px;
}

/* END BUBBLE */

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1440px;
    }
}

@media screen and (min-width: 1440px) {}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
    .landing-section .container .row {
        padding-top: 15vh;
    }

    .landing-section .col-lg-6 {
        flex: 100%;
        max-width: 100%;
    }

    .landing-section h1 {
        text-align: center;
    }

    .landing-section .col-lg-6 img {
        display: block;
        margin: 0 auto;
    }

    .wh-top-fancy-icon,
    .wh-fancy-icon {
        display: none;
    }

    .who-we-are {
        background-image: url(../asset/A4.svg), url(../asset/A15.svg), url(../asset/A5.svg);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: 70% 5%, 25% 85%, 85% 90%;
        background-size: 80px, 80px, 150px;
        padding-top: 50px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1279px) {

    .landing-section .container .row {
        padding-top: 10vh;
    }

    .landing-section .col-lg-6 {
        flex: 100%;
        max-width: 100%;
    }

    .landing-section h1 {
        text-align: center;
    }

    .landing-section .col-lg-6 img {
        display: block;
        margin: 0 auto;
    }

    .who-we-are {
        background-image: url(../asset/A4.svg), url(../asset/A15.svg), url(../asset/A5.svg);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: 70% 5%, 30% 80%, 75% 85%;
        background-size: 80px, 80px, 125px;
        padding-top: 50px;
        margin-bottom: 50px;
    }

    .wwa-fancy-icon {
        position: relative;
        display: block;
        height: 350px;
        background-image: url(../asset/A6.svg);
        background-repeat: no-repeat;
        background-position: 8% 0%;
        background-size: 550px;
        margin-top: 15px;
        margin-bottom: -213px;
        z-index: 2;
    }

    .a-fancy-icon,
    .wh-top-fancy-icon,
    .wh-fancy-icon {
        display: none;
    }

}

@media screen and (max-width: 991px) {

    .navbar .nav-item {
        text-align: center;
    }

    .landing-section .container .row {
        padding-top: 10vh;
    }

    .bubble_top_yellow,
    .bubble_top_blue,
    .bubble_buttom_yellow,
    .bubble_buttom_blue {
        display: none;
    }

    .a-fancy-icon {
        display: none;
    }

    .who-we-are .card {
        min-width: 40%;
        text-align: center;
    }

    .innovation {
        margin-bottom: 0;
    }

    .innovation .card {
        flex: 100%;
        max-width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }

    .technology .container .row:first-child {
        background-image: unset;
        padding: 0;
        height: unset;
    }

    .working-here-text-area {
        padding-top: 0;
    }

    .wh-top-fancy-icon,
    .wh-fancy-icon {
        display: none;
    }

    .git-section p {
        max-width: 100%;
        margin-bottom: 50px;
    }

    .git-pos {
        padding-top: 0px;
    }

    .git-section .col-md-8,
    .git-section .col-md-4 {
        flex: 100%;
        max-width: 100%;
    }

    .footer-section .col-md-3,
    .footer-section .col-md-5,
    .footer-section .col-md-4 {
        flex: 100%;
        max-width: 100%;
        margin-bottom: 50px;
    }

    .hide-in-smaller-screen {
        display: none;
    }

    .hide-in-bigger-screen {
        display: block;
    }
}

@media screen and (max-width: 766px) {
    .hide-in-mobile {
        display: none;
    }

    .mobile-block a {
        display: block;
    }

    .bounce,
    #myBtn,
    .bubble_top_yellow,
    .bubble_top_blue,
    .bubble_buttom_yellow,
    .bubble_buttom_blue {
        display: none;
    }

    .landing-section {
        height: auto;
        display: block;
        position: relative;
        margin-bottom: 50px;
    }

    .landing-section .container {
        background-image: unset;
        background-position: 0;
        background-size: 0;
        height: unset;
    }

    .landing-section .container .row {
        padding-top: unset;
    }

    .landing-section h1,
    .landing-section h1 span {
        font-size: 3.25rem;
        text-align: center;
    }

    .about {
        padding-top: 0;
        padding-bottom: 0;
        background-image: unset;
        background-size: 0;
    }

    .about h2 {
        padding-top: 0;
    }

    .a-fancy-icon {
        display: none;
        height: 0;
        background-size: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .about-lower-section {
        background-image: unset;
        padding-top: 0;
        margin-bottom: 0;
    }

    .about-lower-section h3 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .who-we-are {
        background-image: unset;
        padding-top: 0;
        margin-bottom: 0;
    }

    .who-we-are-text-area {
        padding-bottom: 25px;
    }

    .wwa-fancy-icon {
        display: none;
    }

    .innovation .card {
        min-height: 400px;
    }

    .technology .container .row:first-child {
        background-image: unset;
        background-size: 0;
        height: unset;
        padding: 0
    }

    .technology .container .row:last-child {
        margin-top: 25px;
        padding-bottom: 25px;
    }

    .innovation {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        background-image: unset;
    }

    .working-here {
        padding-bottom: 0;
        background-image: unset;
        padding-top: 0;
        margin-bottom: 0;
    }

    .working-here img {
        margin-bottom: 20px;
    }

    .working-here-text-area {
        padding-top: 0;
    }

    .wh-btn-pos {
        margin-top: 45px;
        margin-bottom: 40px;
    }

    .wh-top-fancy-icon {
        display: none;
    }

    .wh-fancy-icon {
        display: none;
    }

    .our-work {
        background-image: unset;
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: 0;
    }

    .ow-fancy-icon {
        display: none;
    }

    .quote-slider {
        background-image: unset;
        padding-bottom: 0;
        padding-top: 0;
    }

    .footer-section .social-media--facebook-icon,
    .footer-section .social-media-linkedin-icon {
        position: static;
        display: inline-block;
    }
}

.bubble_top_yellow,
.bubble_buttom_yellow {
    -webkit-animation: bubble-anim-yellow 15s ease-out infinite;
    animation: bubble-anim-yellow 15s ease-out infinite;
}

.bubble_top_blue,
.bubble_buttom_blue {
    -webkit-animation: bubble-anim-blue 15s ease-out infinite;
    animation: bubble-anim-blue 15s ease-out infinite;
}

@-webkit-keyframes bubble-anim-yellow {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    20% {
        -webkit-transform: scaleY(1.15) scaleX(1.2);
        transform: scaleY(1.15) scaleX(1.2);
    }

    48% {
        -webkit-transform: scaleY(1.19) scaleX(1.1);
        transform: scaleY(1.19) scaleX(1.1);
    }

    68% {
        -webkit-transform: scaleY(1.02) scaleX(1.02);
        transform: scaleY(1.02) scaleX(1.02);
    }

    80% {
        -webkit-transform: scaleY(0.98) scaleX(1);
        transform: scaleY(0.98) scaleX(1);
    }

    97% {
        -webkit-transform: scaleY(0.9) scaleX(1);
        transform: scaleY(0.9) scaleX(1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes bubble-anim-yellow {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    20% {
        -webkit-transform: scaleY(1.15) scaleX(1.2);
        transform: scaleY(1.15) scaleX(1.2);
    }

    48% {
        -webkit-transform: scaleY(1.19) scaleX(1.1);
        transform: scaleY(1.19) scaleX(1.1);
    }

    68% {
        -webkit-transform: scaleY(1.02) scaleX(1.02);
        transform: scaleY(1.02) scaleX(1.02);
    }

    80% {
        -webkit-transform: scaleY(0.98) scaleX(1);
        transform: scaleY(0.98) scaleX(1);
    }

    97% {
        -webkit-transform: scaleY(0.9) scaleX(1);
        transform: scaleY(0.9) scaleX(1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes bubble-anim-blue {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    10% {
        -webkit-transform: scaleY(1.15) scaleX(1);
        transform: scaleY(1.15) scaleX(1);
    }

    40% {
        -webkit-transform: scaleY(1.19) scaleX(1.2);
        transform: scaleY(1.19) scaleX(1.2);
    }

    60% {
        -webkit-transform: scaleY(1.02) scaleX(1.1);
        transform: scaleY(1.02) scaleX(1.1);
    }

    70% {
        -webkit-transform: scaleY(0.98) scaleX(1);
        transform: scaleY(0.98) scaleX(1);
    }

    97%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


@keyframes bubble-anim-blue {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    10% {
        -webkit-transform: scaleY(1.15) scaleX(1);
        transform: scaleY(1.15) scaleX(1);
    }

    40% {
        -webkit-transform: scaleY(1.19) scaleX(1.2);
        transform: scaleY(1.19) scaleX(1.2);
    }

    60% {
        -webkit-transform: scaleY(1.02) scaleX(1.1);
        transform: scaleY(1.02) scaleX(1.1);
    }

    70% {
        -webkit-transform: scaleY(0.98) scaleX(1);
        transform: scaleY(0.98) scaleX(1);
    }

    97%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/**** IE 10 & IE11 specific styles ***/
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {

    .bounce {
        z-index: 2;
    }

    .card {
        border-color: transparent;
    }

    #myBtn img {
        height: 40px;
    }

    .bubble_top_yellow {
        background-position: 10% 10%;
        height: 400px;
        background-size: 400px;
        width: 100%;
        margin-bottom: -400px;
    }

    .bubble_top_blue {
        background-position: 20% 0;
        width: 100%;
        background-size: 800px;
        height: 400px;
    }

    .who-we-are {
        background-image: url(../asset/A4.svg), url(../asset/A15.svg), url(../asset/A5.svg);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: 70% 5%, 30% 65%, 70% 70%;
        background-size: 80px, 80px, 150px;
        padding-top: 50px;
        margin-bottom: 50px;
    }

    .about,
    .innovation {
        background-size: 40px 40px;
    }

    .a-fancy-icon {
        height: 1700px;
        margin-bottom: -1500px;
    }

    .about-lower-section {
        background-image: url(../asset/A1.svg), url(../asset/A16-Mosaic.svg), url(../asset/A3.svg);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: 20% 65%, 70% 20%, 60.5% 80%;
        background-size: 80px 80px, 75px 75px, 50px 50px;
        padding-top: 50px;
        margin-bottom: 50px;
    }

    .wwa-fancy-icon {
        height: 700px;
        margin-bottom: -500px;
    }

    .wh-top-fancy-icon {
        height: 1500px;
        margin-bottom: -1560px;
    }

    .wh-fancy-icon {

        background-size: 400px 255px;
    }

    .bubble_buttom_yellow {

        background-position: 0% 0%;
        height: 400px;
        background-size: 200px;
        width: 100%;
    }

    .bubble_buttom_blue {
        background-position: 50% 0;
        width: 100%;
        background-size: 400px;
        height: 400px;
        margin-top: -600px;
    }

    .ow-fancy-icon {
        background-size: 200px 545px;
    }

}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) and (max-width: 766px) {

    .technology .container .row:first-child {
        display: block;
        position: static;
        height: auto;
    }
}